/* general */
/* textos */
p {
  color: green;
}

h1 {
  color: white;
  text-align: left;
  padding: 15px;
  font-family: 'Georama', sans-serif;
  font-style: normal;
  font-size: 30px;
}


h2 {
  color: #7E8CFF;
  text-align: center;
  padding: 15px;
  font-size: 25px;
}

text {
  font-family: 'Georama', sans-serif;
}

li {
  color: black;
}

ul {
  list-style: none;
}

main {
  width: auto;
  background-color: white;
}

a {
  text-decoration: none;
}

/* menu */

.nav--titulo-principal a {
  color: #7E8CFF;
  text-decoration: none;
}

.headerEdit {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E6FFF0), to(white));
  background-image: linear-gradient(#E6FFF0, white);
  position: relative;
}

.nav-linkEdit {
  text-decoration: none;
  text-shadow: white 1px;
  color: black;
}

.navX {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#E6FFF0), to(white));
  background-image: linear-gradient(#E6FFF0, white);
  height: auto;
  position: relative;
}

/*footer*/
a {
  text-decoration: none;
}

.footer--div {
  padding: 1rem;
  margin: 1px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(#E6FFF0));
  background-image: linear-gradient(white, #E6FFF0);
  text-align: center;
  height: 150px;
  width: auto;
  text-decoration: none;
  -webkit-text-decoration-color: #7E8CFF;
          text-decoration-color: #7E8CFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer--redes {
  color: #7E8CFF;
}

.footer--copyright {
  color: #7E8CFF;
  font-weight: 500;
}

/* paginas */
/* pagina principal */
.imgPrincipal {
  padding: 10px;
  margin: auto;
  border: 1px solid #E6FFF0;
  max-width: 800px;
  height: auto;
  display: block;
}

/* artistico */
.distanciaSeccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 500px;
  width: auto;
}

.distanciaVideo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 100% !important;
  height: 100%;
}

.galeriaArtistico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galeriaArtistico img {
  width: 300px;
  height: auto;
  border: 2px solid #E6FFF0;
  margin: 10px;
}

/* comercial */
.galeriaComercial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.galeriaComercial--img {
  width: 300px;
  height: auto;
  margin: 10px;
  border: 2px solid #E6FFF0;
}

.galeriaDefe {
  width: 600px;
  height: auto;
  margin: 10px;
  border: 2px solid #E6FFF0;
}

/* contacto */
form {
  -webkit-text-decoration: black;
          text-decoration: black;
  border: 1px solid white;
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #E6FFF0;
  padding-left: 30px;
  margin-bottom: 20px;
  border-radius: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: #E6FFF0;
}

form label {
  display: block;
  float: center;
}

form input {
  background-color: white;
  width: 408px;
  height: 40px;
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  border-color: gray;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

/* sobre mi */
/*

.bg--amarillo {
    background-color: white;
	.contenedor {
		margin: 0 auto;
		width: 90%;
		max-width: 1200px;
	}
	

.grid--container {
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 10px;
    max-height: 600px;

	.yoimg {
		width: 500px;
		justify-content: center;
		align-items: center;
		border:solid #E6FFF0;
	}


	.grid--hijo {
		background-color: white;
			p:first-child {
			padding: 50px 0px;
			text-align: justify;
			img {
				max-height: 500px;
				width: 500px;
				padding: 30px 0px;
			}
	
		}
	}
}
}

*/
.flex--padre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.yoImg {
  max-width: 250px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex--hijo {
  background-color: white;
  width: 350px;
}
/*# sourceMappingURL=styles.css.map */