/* artistico */

.distanciaSeccion {
	display: flex;
	padding: 10px;
	justify-content: center;
	height: 500px;
	width: auto;


}

.distanciaVideo {
    justify-content: center;
	align-self: center;
	width: 100% !important;
	height: 100%;
}






.galeriaArtistico {
	display: flex;
	background-color: white;
	padding: 10px;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;

}


.galeriaArtistico img {
	width: 300px;
	height: auto;
	border: 2px solid #E6FFF0;
	margin: 10px;
}