/* comercial */

.galeriaComercial {
	display: flex;
	background-color: white;
	padding: 10px;
	flex-wrap: wrap;
	justify-content: center;


	
}

.galeriaComercial--img {
	width: 300px;
	height: auto;
	margin: 10px;
	border: 2px solid #E6FFF0;
}