/*footer*/

a {
	text-decoration: none;
}
.footer--div {
	padding: 1rem;
	margin:1px;	
	background-image: linear-gradient(white, #E6FFF0);
	text-align: center;
	height: 150px;
	width: auto;
	text-decoration: none;
	text-decoration-color: #7E8CFF;
	justify-content: center;
}


.footer--redes{
	color: #7E8CFF;}

.footer--copyright {
	color: #7E8CFF;
	font-weight: 500;}
