    /* menu */

/*


    
    .nav--menu {
        color: white;
        padding: 15px;
        display: inline;
            a {
            color: white;
            }
    }
    
    
    .nav--menuLista {
        color: white;
        li
            {
        float: left;
        text-align:center;
            a{
        padding: 10px;
        text-decoration: none;
        min-width: 100px;
        display: block;
                :hover{
                color: black;
                background-color: #eaeaea;
                transform: scale(1.2,1.2) ;
                }
            }
        }
    }
      */
    
    .nav--titulo-principal a {
        color: #7E8CFF;
        text-decoration: none;
    }
    
.headerEdit{
    background-image: linear-gradient(#E6FFF0, white );
    position: relative;
}    



.nav-linkEdit {
    text-decoration: none;
    text-shadow: white 1px;
    color: black;
}

.navX {
    background-image: linear-gradient(#E6FFF0, white );
    height: auto;	
    position: relative;
}