/* textos */


p {
	color: green;
}

h1{
	color: white;
	text-align: left;
	padding: 15px;
	font-family: 'Georama', sans-serif;
	font-style: normal;
	font-size: 30px;
}

h2 {
	color: #7E8CFF;
	text-align: center;
	padding: 15px;
	font-size: 25px;
}

text {
	font-family: 'Georama', sans-serif;
}


li {
	color: black;
}

ul{
	list-style: none;
}


main {
	width: auto;
	background-color: white;
}


a {
	text-decoration: none;
}

